.img-fluid  {
    max-width: 100%; 
    height: auto;
    padding: 10px 20px 10px 0px;

}

.pic {
    width: 15%;
    height: auto;
}

html {
    height: 100%; 
   }

   
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    height: 100%; 
    padding-bottom: 30px; 

}

nav {
    height: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 6px -6px #cccccc;
    -moz-box-shadow: 0 4px 6px -6px #cccccc;
    box-shadow: 0 4px 6px -6px;

}

h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;

}

h2 {
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;

}


.contact {
    color: #4aaaa5;
    padding: 10px 0px 10px 0px;

}

.port {
    padding: 10px 20px 10px 0px;

}

.box {
    position: relative;
    float: left;
    background-color: #ffffff;

}

.text-block {
    position: absolute;
    bottom: 20px;
    width: 86%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0px 20px 0px;

}

p {
    font-size: 18px;
    line-height: 1.8;

}

.content {
    position: relative;
    top: 40px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    padding: 40px;

}

.navbar-brand {
    color: #ffffff`;
    background-color: #4aaaa5;
    padding: 15px;
    position: relative;
    left: -13px;

}


input {
    margin: 0px 0px 10px 0px;

}
input[type=text] {
    width: 100%;

}

input[name=comment] {
    height: 150px;

}

input[type=submit] {
    color: #ffffff`;
    background-color: #4aaaa5;
    padding: 5px 15px 5px 15px;


}

.row {
    min-height:100%;
       position:relative;
    }

.footer {
    position: relative;
    top: 40%;
    width: 100%;
    color: #ffffff;
    background-color: #666666;
    text-align: center;
    padding-top: 30px;
    border-top: solid #4aaaa5 3px;

}